In [1]:
#5(3).Top 10 ODI bowlers along with the records of their team and rating.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
player_name = []
team_name = []
rating = []

In [5]:
player_data = soup.findAll('div', attrs= {'data-cricket-role': 'bowling'})

In [13]:
for store in player_data:
    name = store.find('div',class_ = 'rankings-block__banner--name-large').text.strip()
    player_name.append(name)
    
    team = store.find('div',class_ = 'rankings-block__banner--nationality').text.strip()
    team_name.append(team)
    
    rate = store.find('div',class_ = 'rankings-block__banner--rating').text
    rating.append(rate)

In [14]:
name

'Trent Boult'

In [15]:
team

'NZ'

In [16]:
rate

'737'

In [17]:
DF = pd.DataFrame({'Name of the player': player_name, 'Team': team, 'Rating': rate})

In [18]:
DF

  Name of the player Team Rating
0        Trent Boult   NZ    737
1        Trent Boult   NZ    737
2        Trent Boult   NZ    737
3        Trent Boult   NZ    737