In [1]:
#6(2).Top 10 womenâ€™s ODI players along with the records of their team and rating.

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
player_name = []
team_name = []
rating = []

In [7]:
player_data = soup.findAll('div', attrs= {'data-cricket-role': 'batting'})

In [12]:
for store in player_data:
    name = store.find('div',class_ = 'rankings-block__banner--name-large').text.strip()
    player_name.append(name)
    
    team = store.find('div',class_ = 'rankings-block__banner--nationality').text.strip()
    team_name.append(team)
    
    rate = store.find('div',class_ = 'rankings-block__banner--rating').text
    rating.append(rate)

In [13]:
name

'Tammy Beaumont'

In [14]:
team

'ENG'

In [15]:
rate

'765'

In [16]:
DF = pd.DataFrame({'Name of the player': player_name, 'Team': team, 'Rating': rate})

In [17]:
DF

  Name of the player Team Rating
0     Tammy Beaumont  ENG    765
1     Tammy Beaumont  ENG    765