In [1]:
#6(3).Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
player_name = []
team_name = []
rating = []

In [5]:
player_data = soup.findAll('div', attrs= {'data-cricket-role': 'all_round'})

In [6]:
for store in player_data:
    name = store.find('div',class_ = 'rankings-block__banner--name-large').text.strip()
    player_name.append(name)
    
    team = store.find('div',class_ = 'rankings-block__banner--nationality').text.strip()
    team_name.append(team)
    
    rate = store.find('div',class_ = 'rankings-block__banner--rating').text
    rating.append(rate)

In [7]:
name

'Marizanne Kapp'

In [8]:
team

'SA'

In [9]:
rate

'418'

In [10]:
DF = pd.DataFrame({'Name of the player': player_name, 'Team': team, 'Rating': rate})

In [11]:
DF

  Name of the player Team Rating
0     Marizanne Kapp   SA    418