In [1]:
#5(2).Top 10 ODI Batsmen in men along with the records of their team and rating.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
player_name = []
team_name = []
rating = []

In [5]:
player_data = soup.findAll('div', attrs= {'data-cricket-role': 'batting'})

In [6]:
for store in player_data:
    name = store.find('td',class_ = 'table-body__cell name').text.strip()
    player_name.append(name)
    
    team = store.find('span',class_ = 'table-body__logo-text').text
    team_name.append(team)
    
    rate = store.find('td',class_ = 'table-body__cell u-text-right rating').text
    rating.append(rate)

In [7]:
name

'Virat Kohli'

In [8]:
team

'IND'

In [9]:
rate

'857'

In [10]:
DF = pd.DataFrame({'Name of the player': player_name, 'Team': team, 'Rating': rate})

In [11]:
DF

  Name of the player Team Rating
0        Virat Kohli  IND    857
1        Virat Kohli  IND    857