In [1]:
#6(1).Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
team_name = []
matches = []
points = []
rating = []

In [5]:
odi_data = soup.findAll('div', attrs= {'class': 'rankings-block__container full rankings-table'})

In [6]:
for store in odi_data:
    name = store.find('span',class_ = 'u-hide-phablet').text
    team_name.append(name)
    
    game = store.find('td',class_ = 'rankings-block__banner--matches').text
    matches.append(game)
    
    score = store.find('td',class_ = 'rankings-block__banner--points').text
    points.append(score)
    
    rate = store.find('td',class_ = 'rankings-block__banner--rating u-text-right').text.strip()
    rating.append(rate)

In [7]:
name

'Australia'

In [8]:
game

'18'

In [9]:
score

'2,955'

In [10]:
rate

'164'

In [11]:
DF1 = pd.DataFrame({'Name of the Team': team_name, 'Matches played': matches, 'Point': points, 'Rating': rating})

In [12]:
DF1

  Name of the Team Matches played  Point Rating
0        Australia             18  2,955    164