In [1]:
#5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

In [2]:
#5(1).Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
response

In [6]:
team_name = []
matches = []
points = []
rating = []

In [7]:
odi_dataA = soup.findAll('div', attrs= {'class': 'rankings-block__container full rankings-table'})

In [8]:
for store in odi_dataA:
    name = store.find('span',class_ = 'u-hide-phablet').text
    team_name.append(name)
    
    game = store.find('td',class_ = 'rankings-block__banner--matches').text
    matches.append(game)
    
    score = store.find('td',class_ = 'rankings-block__banner--points').text
    points.append(score)
    
    rate = store.find('td',class_ = 'rankings-block__banner--rating u-text-right').text.strip()
    rating.append(rate)

In [9]:
name

'New Zealand'

In [10]:
game

'17'

In [11]:
score

'2,054'

In [12]:
rate

'121'

In [13]:
print(len(team_name))
print(len(matches))
print(len(points))
print(len(rating))

1
1
1
1

In [14]:
DF1 = pd.DataFrame({'Name of the Team': team_name, 'Matches played': matches, 'Point': points, 'Rating': rating})

In [15]:
DF1.head(1)

  Name of the Team Matches played  Point Rating
0      New Zealand             17  2,054    121

In [16]:
team_name1 = []
matches1 = []
points1 = []
rating1 = []

In [18]:
odi_dataB = soup.findAll('div', attrs= {'class': 'rankings-block__container full rankings-table'})

In [24]:
for store in odi_dataB:
    name1 = store.find('span',class_ = 'u-hide-phablet').text
    team_name1.append(name1)
    
    game1 = store.find('td',class_ = 'table-body__cell u-center-text').text
    matches1.append(game1)
    
    score1 = store.find('td',class_ = 'table-body__cell u-center-text').text
    points1.append(score1)
    
    rate1 = store.find('td',class_ = 'table-body__cell u-text-right rating').text
    rating1.append(rate1)

In [25]:
name1

'New Zealand'

In [26]:
game1

'25'

In [27]:
score1

'25'

In [28]:
rate1

'118'

In [30]:
print(len(name1))

11

In [31]:
DF2 = pd.DataFrame({'Name of the Team': team_name, 'Matches played': matches, 'Point': points, 'Rating': rating})

In [32]:
DF2

  Name of the Team Matches played  Point Rating
0      New Zealand             17  2,054    121