In [1]:
#3.Write a python program to display IMDB’s Top rated 100 Indian movies data(i.e.Name,Rating,Year of release)and make dataframe.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.imdb.com/list/ls009997493/"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [4]:
movie_name = []
year = []
rating = []

In [5]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-detail'})

In [6]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    release_year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(release_year)
    
    rate = store.find('div', class_ = 'ipl-rating-star small').text.strip()
    rating.append(rate)

In [7]:
name

'Ek Hasina Thi'

In [8]:
release_year

'2004'

In [9]:
rate

'7.5'

In [10]:
movie_DF = pd.DataFrame({'Name of the movie': movie_name, 'Year of release': year, 'Movie rating': rating})

In [11]:
movie_DF.head(100)

         Name of the movie Year of release Movie rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.4
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.2
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.5
97     Shatranj Ke Khilari            1977          7.6
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]