In [1]:
#2.Write a python program to display IMDBâ€™s Top rated 100 movies data(i.e.Name,IMDB rating,Year of release)and make data frame.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.imdb.com/list/ls091520106/"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [4]:
movie_name = []
year = []
rating = []

In [5]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-detail'})

In [6]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    release_year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(release_year)
    
    rate = store.find('div', class_ = 'ipl-rating-star small').text.strip()
    rating.append(rate)

In [7]:
rate

'8.3'

In [8]:
movie_DF = pd.DataFrame({'Name of the movie': movie_name, 'Movie rating': rating,'Year of release': year})

In [9]:
movie_DF.head(10)

                               Name of the movie Movie rating Year of release
0                       The Shawshank Redemption          9.3            1994
1                                  The Godfather          9.2            1972
2                         The Godfather: Part II            9            1974
3                                The Dark Knight            9            2008
4                                   12 Angry Men            9            1957
5                               Schindler's List          8.9            1993
6  The Lord of the Rings: The Return of the King          8.9            2003
7                                   Pulp Fiction          8.9            1994
8                Il buono, il brutto, il cattivo          8.8            1966
9                                     Fight Club          8.8            1999